.header {
  /* position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  box-shadow: 0 1px 60px 1px rgb(226, 226, 226);
  z-index: 999;
  background: #fff; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}

.header__left {
  display: flex;
  align-items: center;
  /* justify-content: center;
  flex: 0; */
}

.header__left > img {
  /* height: 25px;
  margin: 0 10px;
  object-fit: contain; */
  object-fit: contain;
  height: 25px;
  margin-left: 5px;
}

.header__middle {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.4;
  margin-left: 10px;
  background: rgb(240, 239, 239);
  padding: 5px;
  border-radius: 5px !important; */
  display: flex;
  align-items: center;
  flex: 0.7;
  background-color: whitesmoke;
  padding: 8px 15px;
  margin: 10px;
  border-radius: 10px;
}

.header__middle > .MuiSvgIcon-root {
  color: gray;
}

.header__middle > input {
  border: none;
  padding: 10px;
  font-size: medium;
  background: transparent;
  width: 100%;
}

.header__middle > input:focus {
  outline: none;
}

.header__middle:focus-within {
  background: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.header__right {
  /* display: flex;
  flex: 0.5;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px; */
  display: flex;
  padding-right: 20px;
  align-items: center;
}

.header_inputCaret {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .header__left > .MuiIconButton-root {
    display: none !important;
  }

  .header__left > img {
    margin-left: 20px;
  }

  .header__middle {
    margin: 10px 0px;
  }
  .header__right > .MuiIconButton-root {
    padding: 5px !important;
    display: none !important;
  }
}
